*.swp
.mypy_cache/
.DS_Store
.cmd_history
/err.txt
/cms/
/json/
/err_dict.txt
/config.txt
/code/
/server_pid.txt
/server_log.txt
/server_err.txt
/patients.txt
json.zip
*.pyc
/.venv/
/config.txt.tmp_local
